LobbyHud {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 50%;
  height: 25%;

  .primaryMessage {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 52px;
    font-weight: bold;
    color: #ffffff;
  }

  .secondaryMessage {
    position: absolute;
    top: 28%;
    left: 10%;
    opacity: 100;
    font-size: 32px;
    font-weight: bold;
    color: #59de22;
  }
}
