LobbyHud {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 450px;
  height: 100px;

  .message {
    position: absolute;
    left: 15px;
    top: 5px;
    opacity: 100;
    font-size: 32px;
    font-weight: bold;
    color: #40a2f1;
    border-color: black;
  }
}
