PlayerInteractablePanel {
  align-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale( 0.5 );
  transition: all 0.1s ease-out;

  &.visible {
    opacity: 1;
    transform: scale( 1 );
  }

  .message {
    position: absolute;
    font-size: 42px;
    font-weight: bold;
    bottom: 360px;
    color: #fffcfc;
    border-color: #ffffff;
  }

  .value {
    font-size: 42px;
    font-weight: bold;
    margin-right: 10px;
    top: 100px;
    color: #2bd77e;
    border-color: #ffffff;
  }

  .glyph {
    top: 100px;
    width: 48px;
    height: 48px;
    color: #2bd77e;
    border-color: #ffffff;
  }
}
