_bakeresourcecache/*
code/Properties/*
code/obj/*
code/.idea/*
.codegen/
.intermediate
tools_asset_info.bin
tools_thumbnail_cache.bin
omnisharp.json
*.csproj

*_bakeresourcecache.vpk
*.los
*.rar
*.vp
*.zip

*.vpk
*.vtex_c
*.vmat_c
*.vmdl_c
*.vanmgrph_c
*.vsnd_c
*.vpcf_c
*.vpost_c
code/survivor.csproj
