HoverPlayerNameLabel {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
  font-family: Poppins, serif;
  background-color: rgba(#333, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}